repos:
  - repo: local
    hooks:
      - id: prevent-env-and-secret-commits
        name: Prevent env/secret commits
        entry: scripts/prevent_env_and_secrets.sh
        language: system
        pass_filenames: false
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.8
    hooks:
      - id: ruff
        args:
          - '--fix'
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - pydantic-settings>=2.2.1
